{% extends 'base.html' %}

{% block content %}
<h2>{{ job.title }}</h2>

<p><strong>Location:</strong> {{ job.location }}</p>
<p><strong>Salary:</strong> €{{ job.salary }}</p>
<p><strong>Description:</strong> {{ job.description }}</p>
<p><strong>Posted by:</strong> {{ job.recruiter.username }}</p>

<h4>Required Skills</h4>
{% if job.required_skills.all %}
    <ul>
        {% for skill in job.required_skills.all %}
            <li>{{ skill.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No required skills listed.</p>
{% endif %}

{% if user.role == 'RECRUITER' and job.recruiter == user %}
    <a href="{% url 'edit_job' job.id %}" class="btn btn-primary">Edit Job</a>
    <a href="{% url 'delete_job' job.id %}" class="btn btn-danger">Delete Job</a>
{% endif %}

{% if user.role == 'CANDIDATE' %}
    {% if already_applied %}
        <p class="text-success mt-3">You have already applied for this job.</p>
    {% else %}
        <a href="{% url 'apply_for_job' job.id %}" class="btn btn-success mt-3">Apply Now</a>
    {% endif %}
{% endif %}
{% endblock %}