{% extends 'base.html' %}

{% block content %}
<h2>Jobs</h2>

{% if user.role == 'RECRUITER' %}
    <a href="{% url 'create_job' %}" class="btn btn-primary mb-3">Create Job</a>
{% endif %}

{% if jobs %}
    <ul class="list-group">
        {% for job in jobs %}
            <li class="list-group-item">
                <h5>{{ job.title }}</h5>
                <p>{{ job.location }} | £{{ job.salary }}</p>
                <a href="{% url 'job_detail' job.id %}" class="btn btn-sm btn-outline-primary">View Details</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No jobs available yet.</p>
{% endif %}
{% endblock %}